@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap");

html {
    display: flex;
    justify-content: center;
    font-family: "Titillium Web", sans-serif;
}

body {
    color: white;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap-reverse;
}

#divider {
    width: 10px;
    order: 2;
}

#info {
    background-color: rgba(80, 80, 80, 0.414);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    flex: 1 1 400px;
    order: 1;
}

#info p {
    padding: 0px 30px;
    flex: 1;
}

#info h1 {
    background-color: black;
    font-size: 20px;
    font-weight: 100;
    margin: 0px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#info h1 a {
    color: rgb(78, 222, 255);
    text-decoration: none;
}

#info,
#pannel,
#header {
    background-color: rgba(0, 0, 0, 0.714);
}

#content {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 1 1 700px;
    order: 3;
}

#header {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#rounds {
    width: 40px;
    background-color: rgba(191, 191, 191, 0);
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 21px;
}

.subHeadings {
    padding: 5px 0px;
    text-align: center;
    font-size: 21px;
}

#choose {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.396);
    padding: 20px;
}

#choose img {
    width: 30%;
}

#choose img:hover {
    transform: scale(1.1);
}

#pannel {
    display: flex;
    height: 100%;
}

#score,
#computer_choose,
#player_choose {
    width: 33.3%;
}

#pannel {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#computer_choose {
    border-bottom-right-radius: 10px;
}

#score p {
    font-size: x-large;
    margin: 0px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
}

#computer_choose,
#player_choose {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#computer_choose img,
#player_choose img {
    height: 200px;
}

#player_choose,
#score {
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.721);
}

#player_choose img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#score h2 {
    color: black;
    text-align: center;
    background-color: aquamarine;
    font-weight: 400;
}

#player {
    color: black;
    background-color: green;
}

#computer {
    color: black;
    background-color: red;
}

#draw {
    color: black;
    background-color: yellow;
}
