body {
    background-color: black;
    color: white;
    background-image: url(img/bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 200px;
}

#header {
    text-align: center;
    border: 5px solid red;
    border-radius: 20px;
    background-color: rgb(94, 94, 94);
    padding: 0px 20px;
    margin: 30px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(54, 54, 54);
}

#rounds {
    width: 40px;
    background-color: rgba(191, 191, 191, 0.406);
    color: white;
    border: 0px;
    border-radius: 5px;
}

#roundsInp {
    background-color: rgba(185, 185, 185, 0.406);
    color: white;
    margin: 0px;
    min-width: 100%;
    min-width: max-content;
    padding: 5px;
}

#choose {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    background-color: rgba(111, 111, 111, 0.811);
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#choose img {
    width: 25%;
}

#pannel {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#score {
    background-color: rgb(30, 30, 30);
    width: 33.3%;
    border-bottom-left-radius: 20px;
}

#score p,
#score h2 {
    padding: 0px 20px;
}

#computer_choose,
#player_choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
}

#computer_choose img,
#player_choose img {
    height: 150px;
}

#player_choose,
#score {
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(94, 94, 94);
}

#player_choose img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
